<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Ionic">
  <ion-content padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
      Este é um aplicativo desenvolvido como parte do Trabalho de Conclusão de Curso apresentado à Coordenação do Curso de Sistemas de Informação da Unidade de Ensino Superior Dom Bosco. Desenvolvido por Paulo Heluy sob orientação do Professor Me. Bruno Lima.<br><br> 
      Check out the <a href="http://ionicframework.com/docs/" target="_blank">docs</a>
      for more info.
    </p>
    <p>
      Questions? Hit up the 
      <a href="http://forum.ionicframework.com/" target="_blank">forum</a>.
    </p>
    <p>
      Find a bug? Create an 
      <a href="https://github.com/driftyco/ionic/issues?state=open" target="_blank">issue</a>.
    </p>
    <p>
      What to help improve Ionic?
      <a href="http://ionicframework.com/contribute/" target="_blank">Contribute</a>.
    </p>
    <p>
      Stay up-to-date with the Ionic 
      <a href="http://ionicframework.com/subscribe/" target="_blank">newsletter</a> and 
      <a href="https://twitter.com/Ionicframework" target="_blank">twitter</a> account.
    </p>
    <p>
      MIT Licensed. Happy coding.
    </p>
  </ion-content>
</ion-view>
