<!--
  This template loads for the 'tab.pet-detail' state (app.js)
  'pet' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of pet data
-->

<ion-view title="Itinerário da Linha">
    <ion-content has-tabs="true">
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <p><a class="button button-icon icon ion-arrow-left-b" href="#/tab/linhas"> Todas as Linhas</a></p>
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Centralizar em mim</a>
    </ion-footer-bar>

</ion-view>