<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Linhas Proximas">
  <ion-content has-tabs="true">


    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="searchText" placeholder="Search">
      </label>
    </div>


    <ion-list>

      <ion-item ng-repeat="linha in linhas | filter:searchText" type="item-text-wrap" href="#/tab/linha/{{linha.id}}">
        <h3>{{linha.title}}</h3>
        <p>{{linha.description}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
