  
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-default">

  <!-- Linhas Tab -->
  <ion-tab title="Linhas" icon="icon ion-home" href="#/tab/linhas">
    <ion-nav-view name="linhas-tab"></ion-nav-view>
  </ion-tab>


  <!-- Linhas Próximas Tab -->
  <ion-tab title="Linhas Próximas" icon="icon ion-map" href="#/tab/proximos">
    <ion-nav-view name="linhas-proximas-tab"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="About" icon="icon ion-search" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
