/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px
}

.scroll {
  height: 100%;
}